{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    body {
        background-color: #f7f2f7;
    }

    #welcome-heading {
        font-family: 'Allura', cursive;
        font-size: 72px;
    }

    #artworks-link {
        font-family: 'Caveat', cursive;
        color: #1c7ed6;
        font-size: 42px;
        transition: 0.5s;
    }

    #artworks-link:hover {
        text-decoration: none;
        font-size: 46px;
        color: #1864ab;
    }
    #series-heading {
        font-family: 'Caveat', cursive;
        font-size: 42px;
    }
</style>
<center>
    <p id="welcome-heading">
        <b>
            Expressions By Devishi
        </b>
    </p>
</center>
<div style="width: 100vw; height: 40px;">
</div>
<div>
    <center>
        <img src="/static/images/home.jpg" alt="homePic" width="500">
    </center>
</div>
<div style="width: 100vw; height: 64px;">
</div>
<center>
    <p><a href="/series" id="artworks-link">View my artworks</a></p>
</center>
<div style="width: 100vw; height: 40px;">
</div>
<div>
    <center>
        <video width="800" src="/static/videos/homepagevideo.mp4" type="video/mp4" autoplay muted loop></video>
    </center>
</div>
<div style="width: 100vw; height: 40px;">
</div>
<center>
    <p id="series-heading">
        Current Series
    </p>
        {% for obj in series_obj %}
        <a style="font-family: 'Crimson Text', serif; font-size: 18px;" href="/series/{{obj.link}}">{{obj.name}}</a>
        <br>
        {% endfor %}
</center>
<p
    style="float: left; background-color: #5f3dc4; color: white; margin-top: 40px; margin-bottom: 0px; padding-bottom: 0px; width:fit-content;">
    made by pragun seth
</p>
{% endblock %}